{{#>layout title="Reset Password Request" }}
  <h1 style="padding-bottom: 12px">Reset Password Request</h1>
  <p style="padding-bottom: 16px">We've received a request to reset the password for this user account.</p>
  <a href="{{link}}" target="_blank"
    style="padding: 12px 24px; margin-bottom: 16px; border-radius: 4px; color: #FFF; background: #ff7f0a; display: inline-flex;">
    Reset your password
  </a>

  <p style="padding-bottom: 16px">If you didn't ask to reset your password, you can ignore this email.</p>
  {{>ending}}
{{/layout}}