{{#>layout title="Account password updated" }}
  <h1 style="padding-bottom: 12px">Password Updated</h1>
  <p style="padding-bottom: 16px">Password of your account has been updated.</p>

  <p style="padding-bottom: 16px">If it wasn't you please login and reset your password.</p>
  {{>ending}}
{{/layout}}