{{#>layout title="{{translate 'email.passwordChange.title' lang=lang}}" }}
  <h1 style="padding-bottom: 12px">{{translate "email.passwordChange.emailTitle" lang=lang}}</h1>
  <p style="padding-bottom: 16px">{{translate "email.passwordChange.passwordUpdated" lang=lang}}</p>

  <p style="padding-bottom: 16px">{{translate "email.passwordChange.ifItWasNotYou" lang=lang}}</p>
  {{>ending}}
{{/layout}}