{{#>layout title="{{translate 'email.verificationRemoved.title' lang=lang}}" }}
  <h1 style="padding-bottom: 12px">{{translate "email.verificationRemoved.emailTitle" lang=lang}}</h1>
  <p style="padding-bottom: 16px">
    {{translate "email.verificationRemoved.couldNotFindAccount" lang=lang platform=platform account=account}}
  </p>
  <p style="padding-bottom: 16px">{{translate "email.verificationRemoved.whatToDoNext" lang=lang}}</p>
  {{>ending}}
{{/layout}}
